@using Sitecore.ExperienceForms.Mvc.Html
@model Sitecore.ExperienceForms.Mvc.Models.Fields.ListViewModel

<label class="@Model.LabelCssClass">@Html.DisplayTextFor(t => Model.Title)</label>
@foreach (var item in Model.Items)
{
    var id = Guid.NewGuid();
<div class="radio">
    <input type="radio" id="@id" name="@Html.NameFor(m => Model.Value)" @if (item.Selected) { <text> checked</text>} value="@item.Value" data-sc-tracking="@Model.IsTrackingEnabled" data-sc-field-name="@Model.Name" data-sc-field-key="@Model.ConditionSettings.FieldKey" @Html.GenerateUnobtrusiveValidationAttributes(m => m.Value) />
    <label class="@Model.CssClass" for="@id">@item.Text</label>
</div>
}
@Html.ValidationMessageFor(m => Model.Value)